@inherits StatiqRazorPage<IDocument>
@model IDocument

@{
    var older = Model.GetDocument(Keys.Next);
    var newer = Model.GetDocument(Keys.Previous);
}


@if (older != null || newer != null)
{
    <div class="flex flex-row justify-content-between space-x-4">
        <div>
            @if (older != null)
            {
                <a class="py-1 px-2 text-sm text-primary-900 dark:text-primary-200 bg-primary-50 dark:bg-primary-700 border border-primary-200 dark:border-primary-700/50 hover:bg-primary-100 hover:text-primary-800 hover:border-primary-300 rounded" href="@Context.GetLink(older)" role="button">Older</a>
            }
        </div>
        <div>
            @if (newer != null)
            {
                <a class="py-1 px-2 text-sm text-primary-900 dark:text-primary-200 bg-primary-50 dark:bg-primary-700 border border-primary-200 dark:border-primary-700/50 hover:bg-primary-100 hover:text-primary-800 hover:border-primary-300 rounded" href="@Context.GetLink(newer)" role="button">Newer</a>
            }
        </div>
    </div>
}