@inherits StatiqRazorPage<IDocument>
@model IDocument

@{
    var older = Model.GetDocument(Keys.Next);
    var newer = Model.GetDocument(Keys.Previous);
}


@if (older != null || newer != null)
{
    <div class="flex flex-row justify-between space-x-4">
        <div>
            @if (older != null)
            {
                <a class="py-1 px-2 text-sm text-base-900 dark:text-base-200 bg-base-50 dark:bg-base-700 border border-base-200 dark:border-base-700/50 hover:bg-base-100 hover:text-base-800 hover:border-base-300 rounded" href="@Context.GetLink(older)" role="button">Older</a>
            }
        </div>
        <div>
            @if (newer != null)
            {
                <a class="py-1 px-2 text-sm text-base-900 dark:text-base-200 bg-base-50 dark:bg-base-700 border border-base-200 dark:border-base-700/50 hover:bg-base-100 hover:text-base-800 hover:border-base-300 rounded" href="@Context.GetLink(newer)" role="button">Newer</a>
            }
        </div>
    </div>
}