@inherits StatiqRazorPage<IEnumerable<string>>

<ul class="flex space-x-1 md:space-x-2 mb-4 overflow-hidden">
    @foreach (var tag in Model)
    {
        var link = @Context.GetLink($"tags/{NormalizedPath.OptimizeFileName(tag)}/index.html");
        <li  class="text-xs  py-1 px-2 text-base-900 dark:text-base-100 dark:bg-base-900/75 dark:hover:bg-base-900 bg-base-50 border border-base-200 dark:border-base-800 hover:bg-base-100 hover:text-base-800 hover:border-base-300 rounded transition-colors">
            <a href="@link"> @tag</a>
        </li>
    }
</ul>
