@inherits StatiqRazorPage<IEnumerable<string>>

<ul class="flex space-x-1 md:space-x-2 mb-4 overflow-hidden">
    @foreach (var tag in Model)
    {
        var link = @Context.GetLink($"tags/{NormalizedPath.OptimizeFileName(tag)}/index.html");
        <li  class="text-xs  py-1 px-2 text-primary-900 dark:text-primary-100 dark:bg-primary-900/75 dark:hover:bg-primary-900 bg-primary-50 border border-primary-200 dark:border-primary-800 hover:bg-primary-100 hover:text-primary-800 hover:border-primary-300 rounded transition-colors">
            <a href="@link"> @tag</a>
        </li>
    }
</ul>
