@inherits StatiqRazorPage<IDocument>

@if (Document.ContainsKey(Keys.GroupKey))
{
  <!-- view all posts for a tag  -->
  @Html.Partial("_posts.cshtml", Document.GetChildren())
  @Html.Partial("_nextprevious.cshtml", Document)
}
else
{
  <!-- page doesn't have a tag, so we are showing a list of the tags -->
    @foreach (var tag in Document.GetChildren().OrderByDescending(x => x.GetChildren().Count()))
    {
        var postCount = tag.GetChildren().Count().ToString();
        <a role="button" href="@Context.GetLink(tag)" class="badge badge-light"> @tag.GetTitle() (@postCount)</a>
    }
}

