@{
    Layout = @"../_layout.cshtml";
}
@inherits StatiqRazorPage<IDocument>

<p class="mb-1 lg:my-b text-sm">Posted <time>@Document.GetDateTime("date").ToLongDateString()</time></p>
@Html.Partial($"../_taglist.cshtml", Document.GetList<string>("tags"))

<article class="prose lg:prose-lg max-w-full font-light text-gray-700 lg:leading-loose">
    @RenderBody()
</article>